body {
    font-family: "Helvetica";
    background-color: #d6d6d6;
    color: darkslategray;
}

h1 {
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;

}

#flower {
margin-right: 10px;
    padding: 10px;
        float: left;
    margin-bottom: 10px;
}

ul {
    padding: 15px;
}
header, main { background-color: #d6d6d6;
         padding: 20px;
}


article { 
width: 75%;
    text-align: justify;
}

footer {
    
   
color: darkslategray;
    

}

#contact { 
background-color: aliceblue;
margin-top: 200px;
    padding: 20px;
border-radius:20px;
}

address, #mail {
    padding: inherit;
}