* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #FAF0E6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy, cursive;
}

p {
    font-size: 2em;
}

.circle {
    background-color: #7C8500;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
}

.sm-only,
.md-only,
.lg-only {
    display: none;
}

.circle::before {
    content: "Small";
    font-size: 2em;
}

.circle::after {
    content: "<460px";
}

.circle:hover {
    background-color: #262626;
}

#body:target {
    background-color: orange;
}

@media (min-width: 460px) {
    .circle::before {
        content: "Medium";
    }

    .circle::after {
        content: "460 - 679px";
    }

    .xs-only {
        display: none;
    }

    .sm-only {
        display: block;
    }

    .circle {
        background-color: #618DF0;
    }

    #body {
        background-color: #FF733A;
    }
}

@media (min-width: 680px) {

    .circle::before {
        content: "Large";
    }

    .circle::after {
        content: "800 - 999px";
    }

    .sm-only {
        display: none;
    }

    .md-only {
        display: block;
    }

    .circle {
        background-color: #009225;
    }

    #body {
        background-color: #FFFADB;
    }
}

@media (min-width: 1000px) {
    .circle::before {
        content: "Extra Large";
    }

    .circle::after {
        content: ">1000px";
    }

    .md-only {
        display: none;
    }

    .lg-only {
        display: block;
    }

    .circle {
        background-color: #6C003D;
    }

    #body {
        background-color: #ECFFFF;
    }
}
