* {
    box-sizing: border-box;
}

#flex-header {
    display: flex;
    width: 600px;
    height: 80px;
    justify-content: space-between;
    border: none;
    background-color: rgb(255, 136, 0);
}

#photo {
    max-height: 30px;
    margin-top: 25px;
    margin-right: 10px;
}


#zaglavie {
    margin-left: 10px;
}