*{
  box-sizing: border-box;
}

body{
  background-color: beige;
  padding-bottom: 600px;
}

header{
  margin: 60px auto;
  width: 600px;
}

.box{
  background-color: pink;
  text-align: center;
  padding: 40px 80px;
}

#heading{
  background-color: yellow;
  border: 3px dashed;
  padding: 50px;
}

ul{
  list-style: none;
  padding: 0;
  overflow: hidden;
  width: 400px;
  margin: auto;
}

li{
  width: 100px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  float: left;
  background-color: white;
}

a{
  text-decoration: none;
}

#tablepic{
  border-radius: 30%;
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
}

#table{
  border-collapse: collapse;
  border: 2px solid black;
  margin: auto;
  width: 100%;
}

th{
  text-align: left;
}

td{
  text-align: center;
  font-family: cursive;
}

h1{
  text-align: center;
  font-family: cursive;


  color: darkred;
}

#zamen{
  background-color: lightblue;
}
#citati{
  background-color: gold;
}
#kontakti{
  background-color: pink;
}
#footer{
  background-color: grey;
}

#firstparpic, #secondparpic{
  float: right;
  margin-left: 10px;
}

p{
  text-align: justify;
}

h2{
  text-align: left;
  font-family: cursive;
  color: darkblue;
  font-size: 20px;
}
#contact{
  background-color:lightblue;
  color:darkblue;
  padding:10px;
  margin: 15px 10px;
  text-align: center;
  font-size: 15
  px;
  font-style: oblique;
}

#thefooter{
  font-size: 15px;
  background-color: coral;
  color: cornsilk;
  text-align: right;
}
