*{
	box-sizing: border-box;
}

body{
	height: 150vh;
	font-family: sans-serif;
	font-weight: 700;
	padding: 10px;
}

body, ul, video, audio{
	margin: 0;
}

video{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

audio{
	position: relative;
	margin-top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 270px;
}

header{
	margin: 0 auto;
	color: white;
	padding: 0;
	border-top: 5px solid #478FBE;
	border-bottom: 5px solid #478FBE;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	width: 260px;
}

ul{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	max-width: 100%;
}

li{
	text-align: center;
	padding: 10px;
	float: left;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	background-color: white;
	padding: 5px;
	transition: background-color .3s;
	color: #478FBE;
}

footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #478FBE;
	color: white;
	text-align: center;
	max-width: 100%;
}