* {
	box-sizing: border-box;
}

#flex-header {
	display: flex;
	justify-content: space-between;
	background-color: #f3a433;
	padding: 10px;
	height: 70px;
	width: 700px;
}

h1 {
	display: flex;
	/*justify-content: flex-start;*/
	align-items: center;
	/*margin-left: 10px;*/
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	заглавието да бъде на един ред*/
}

a {
	display: flex;
	/*justify-content: flex-end;*/
	align-items: center;
}

img {
	height: 30px;
	/*margin-right: 10px;*/
}