* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  font-family: sans-serif;
  color: black;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header ul {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

header nav li {
  margin: 0 10px;
  padding: 1em;
  border-bottom: 1px #ccc solid;
}

main {
  text-align: center;
  display: flex;
    flex-direction: column;
}

.images {
    padding-top: 70px;
    background-image: url(images/header-bg.jpg);
    background-size: cover;
    height: 80vh;
    min-height: 400px;
}

.border {
    margin: 0 auto;
    width: 500px;
    border: 2px solid grey;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
}

.second-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}

.second-nav ul li {
    list-style-type: none;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

footer {
    margin: 0 auto;
    text-align: center;
    background-color: #141414;
    color: white;
    height: 150px;
}

p {
    padding: 30px;
}
@media (min-width: 680px) {
  header {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between
  }

  header h1 {
/*    flex-grow: 1;*/
    margin: 0;
  }

  header h1 a {
    display: none;
  }

  header ul {
    flex-direction: row;
  }

  header nav li {
    border-top: 0;
    padding: .5em;
  }
}

