* {
    box-sizing: border-box;
}

p {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-image: url(img/mountain-lake-2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}