* {
    box-sizing: border-box;
}

header hr {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%
}

hr {
   margin-top: 20px;
   margin-bottom: 20px;    
}

header {
    text-align: center;
    justify-content: center;
}

li {
    display: inline;
    width: 100px;
    padding: 10px;
}

.main-container {
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    
}

section {
    border-style: dashed;
    margin: 15px;
    text-align: justify;
    overflow: auto;
    }

img {
    height: 100px;
}

.left {
    margin-right: 15px;
    margin-bottom: 5px;
    float: left;
    
}

.right {
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    color: white;
    padding: 20px;
}

@media (max-width: 799px) {
    body {
        background-color: bisque;
    }
    .main-container {
        max-width: 100%;
        margin: 0px;
        }
    .left, .right {
        float: none;
        display: block;
        margin: 10px auto;
    }
}

@media (min-width: 800px) and (max-width:1399px) {
    body{
        background-color:azure
    }
    div {
        width: 800px;
        max-width: 100%;
    }
    img {
        width: 220px;
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    body {
        background-color:coral;
    }
    div {
        width: 1000px;
        max-width: 100%;
    }
    img {
        width: 280px;
        max-width: 100%;
    }
}