* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: lightgoldenrodyellow;
        width: 1000px;
    font-size: 20px;
    text-align: justify;
}

header {
    margin: 20px;
}

header hr {
    max-width: 100%;
}
h1 {

    text-align: center;
}

.left {
        float: left;
       margin-right: 10px;
    margin-bottom: 10px;
        width: 280px;
}

.right {
    float: right;
   margin: 10px auto;
        width: 280px;
}


h2 {
    padding: 10px;
    margin: 0;
}

ul {
    text-align: center;
    padding-left: 0;
}

ul li {
    list-style: none;
    display: inline;
    margin: auto 5px;

}



main {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    max-width: 100%;
    width: 800px;
}
section {
    margin: 20px;
    border: 1px dashed black;
}

p {
    padding: 10px;
    margin: 0;
}

@media (max-width: 799px) {
    body {
        background-color: pink;
        width: 100%;
    }
    
    .left, .right {
        float: none;
        display: block;
        margin: 10px auto;
        width: 100%;
    }
    
}

@media (min-width: 800px) and (max-width: 1399px) {
    body {
        background-color: lightgreen;
        width: 800px;
    }
    
    .left, .right {
        margin: 10px;
        width: 220px;
        
    }
    
    
}
